{% extends "base.html" %}

{% block header %}
	<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}



{% block content %}
	<form method="post">
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" required />
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" required />
		</div>
		<div>
			<input type="submit" value="Login">
			<a href="{{url_for("auth.forgot_password")}}">Forgot password?</a>
			<a href="{{url_for("auth.register")}}">Register</a>
		</div>
	</form>
{% endblock %}