{% extends "base.html" %}

{% block header %}
	<h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" required />
		</div>
		<div>
			<label for="password">New password</label>
			<input type="password" name="password" id="password" required />
		</div>
		<div>
			<label for="confirm-password">Confirm new password</label>
			<input type="password" name="confirm-password" id="confirm-password" required />
		</div>
		<div>
			<input type="submit" value="Reset password">
		</div>
	</form>
{% endblock %}